body {
    background-color: rgb(179, 67, 67);
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;
    font-size: 30px;
    color: #282c23;
    background-color: rgb(240, 174, 32);
    border-radius: 10px;
}

